<div class="container" style="padding-left: 40px; padding-right: 40;">
    <div class="row">
        <div class="col-md-3">
            <img src="https://d33wubrfki0l68.cloudfront.net/a964d56ea5f07bb3934cf8a3e578db84ca982a74/61064/img/primetrust-white-logo.png" alt="" style="margin-bottom: 5px;">
            <br>
            <span style="margin-bottom: 15px;">Copyright © 2019 Prime Trust LLC</span>
            <br>
            All rights reserved.
            <br>
            <p class="change" style="margin-bottom: 10px;">
                <span class="mr-3">
                    <i class="fa fa-phone"></i>
                </span>
                <a href="tel:1-702-840-4000">702-840-4000</a>
            </p>
            <p class="change">
                    <i class="fa fa-envelope-o"></i><a href="mailto:info@primetrust.com"> info@primetrust.com</a>
            </p>
        </div>
        <div class="col-md-3">
            <p style="color: greenyellow; padding-bottom: 10px; padding-top: 5px;">COMPANY</p>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/about">About</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/faq">FAQ</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://support.primetrust.com/hc/en-us">Support</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <a style="text-decoration:none; color: white;" href="https://blog.primetrust.com/">Blog</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/careers">Careers</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/contact">Contact</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p style="color: greenyellow; padding-bottom: 10px; padding-top: 5px;">QUICK LINKS</p>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/custody">Custody</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/fee-schedules">Fee Schedules</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/primex">PrimeX</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/exchanges">Exchanges</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/stablecoins">Stablecoins</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/primecore">Prime Core</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p style="color: greenyellow; padding-bottom: 10px; padding-top: 5px;">LEGAL</p>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/tos">ToS & EULA</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/privacy">Privacy Policy</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/downloads/glba-notice.pdf">Gramm-Leach Notice</a>
                        <br>
                        <a style="text-decoration:none; color: white;" href="https://www.primetrust.com/downloads/2019-Data-Security.pdf">Data Security Policies</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center" style="color: white;">
            <p>BE A PART OF OUR COMMUNITY</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center alliic">
            <a href="https://www.facebook.com/PrimeTrustLLC/?modal=admin_todo_tour" target="_blank" style="padding-right: 20px;">
                <i class="fa fa-facebook" style="color: gold;"></i>
            </a>
            <a href="https://twitter.com/PrimeTrustCo" target="_blank" style="padding-right: 20px;">
                <i class="fa fa-twitter" style="color: gold;"></i>
            </a>
            <a href="https://www.linkedin.com/company/primetrust?trk=ppro_cprof" target="_blank" style="padding-right: 20px;">
                <i class="fa fa-linkedin" style="color: gold;"></i>
            </a>
            <a style="padding-right: 20px;" target="_blank">
                <i class="fa fa-youtube-play" style="color: gold;"></i>
            </a>
            <a href="https://t.me/primetrust" target="_blank" style="padding-right: 20px;">
                <i class="fa fa-telegram" style="color: gold;"></i>
            </a>
            <a href="https://www.reddit.com/user/PrimeTrustCo" target="_blank" style="padding-right: 20px;">
                <i class="fa fa-reddit-alien" style="color: gold;"></i>
            </a>
        </div>
    </div>
</div>