<div class="slider">
    <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
        <br>
        <div class="container">
            <a href="https://primetrust.com/index" target="_blank"  id="logo">
                <img src="https://d33wubrfki0l68.cloudfront.net/a964d56ea5f07bb3934cf8a3e578db84ca982a74/61064/img/primetrust-white-logo.png" height="25" alt="prime trust white logo">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars fa-2x" style="color: white; outline: none;" aria-hidden="true"></i>
                </span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="btne">
                <li class="nav-item">
                <a href="https://primetrust.com/primepay" class="nav-link" target="_blank">Primepay</a>
                </li>
                <li class="nav-item">
                <a href="https://primetrust.com/compliance" target="_blank" class="nav-link">Compliance</a>
                </li>
                <li class="nav-item">
                <a href="https://primetrust.com/escrow" class="nav-link" target="_blank">Escrow</a>
                </li>
                <li class="nav-item" class="dropdown">
                <a href="https://primetrust.com/apis#" class="nav-link dropdown-toggle dropbtn" dropdown-toggle target="_blank">
                    Trusts
                </a>
                <div class="dropdown-content" id="dopdownconstent">
                    <a href="https://primetrust.com/assetprotection" target="_blank">Asset Protection Trusts</a>
                    <a href="https://collegetrust.com/" rel="noreferrer" target="_blank">College Savings
                        Trusts
                    </a>
                </div>
                </li>
                <li>
                <a href="https://primetrust.com/apis" class="nav-link" target="_blank">APIs</a>
                </li>
                <li>
                <a href="https://primetrust.com/about" target="_blank" class="nav-link">About</a>
                </li>
                <li class="nav-item" class="dropdown">
                <a href="https://primetrust.com/apis#" class="nav-link dropdown-toggle dropbtn" dropdown-toggle target="_blank">
                    Contact
                    </a>
                    <div class="dropdown-content" id="dopdownconsten">
                    <a href="https://support.primetrust.com/hc/en-us" rel="noreferrer" target="_blank">Support Desk</a>
                    <a href="https://primetrust.com/contact" target="_blank">Contact Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://my.primetrust.com/open-an-account" target="_blank" class="nav-link">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="https://my.primetrust.com/login" target="_blank" class="nav-link">login</a>
                </li>
            </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" style="color: white;">
            <h1 class="text-center">
                Api Solution
            </h1>
            <br>
            <p style="font-size: 22px;" class="text-center">
                <b>Build compliant, world-class financial services at scale</b>
            </p>
        </div>
    </div>
</div>

<div class="row" style="background-color:  rgb(46, 115, 206); color: white; background-image: url(../../assets/images/137539.jpg); background-attachment: fixed; background-repeat: no-repeat;">
    <div class="col-md-12">
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>
                        Fast & Easy API Solutions
                    </h2>
                    <br>
                    <p>
                        Prime Trust's API's allow authorized, vetted partners to integrate with our financial services. This means being able to open accounts, make asset deposits (including fiat and tokens), initiate disbursements, trigger KYC, and AML, manage securities escrow, confirm balances and pull reports.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 boss text-center" style="color: black;">
                    <div class="card" style="width: 18rem; height: 350px;">
                        <!-- <img class="card-img-top" src="../../assets/images/Prime-Trust.jpg" alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Ultra Fast & Secure</h5>
                          <p>State-Of-The-Art Technology</p><hr>
                          <p class="card-text">Our APIs follow the well-understood REST standard for APIs along with a JSON specification. This means you will experience faster development and testing, and integrate with our APIs at lightning speed for your apps and services.</p>
                        </div>
                    </div><br>
                </div>
                <div class="col-md-4 boss text-center" style="color: black;">
                    <div class="card" style="width: 18rem; height: 350px;">
                        <!-- <img class="card-img-top" src="../../assets/images/Prime-Trust.jpg" alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Highly Scalable</h5>
                          <p>Limitless Applications</p><hr>
                          <p class="card-text">We provide a fully-functional, free sandbox environment with dedicated developer support for each client to ensure the fastest integration possible and lowest time to market. Our dedicated support team will ensure that you integrate the right APIs for your use case.</p>
                        </div>
                    </div><br>
                </div>
                <div class="col-md-4 boss text-center" style="color: black;">
                    <div class="card" style="width: 18rem; height: 350px;">
                        <!-- <img class="card-img-top" src="../../assets/images/Prime-Trust.jpg" alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Fiat & Digital Assets</h5>
                          <p>USD, ERC-20, And More</p>
                          <hr>
                          <p class="card-text">We offer a seamless, compliant integration for FIAT on and off ramp services for digital asset-focused solutions across various verticals, including custodial and escrow services related to crowdfunding, stablecoins and exchanges.</p>
                        </div>
                    </div><br>
                </div>
                <div class="col-md-12 text-center bosnsh">
                    <br>
                    <br>
                    <a href="https://docs.primetrust.com/?version=latest#getting-started" class="readdec">Read the documentation go to sandbox</a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>API Docs</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.primetrust.com/?version=latest#4756e928-5536-414c-9669-f1ad0183d8fe" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Custody
                        </h5>
                        <hr>
                        <p>
                            Open new accounts<br>
                            Send assets into custody<br>
                            View reports<br>
                            Initiate disbursements<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.primetrust.com/?version=latest#4756e928-5536-414c-9669-f1ad0183d8fe" class="btn float-center"  style="color: white; text-decoration: none;">Custody Api Docs</a>
                    </a>
                </div>

                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.primetrust.com/?version=latest#6a432961-cd13-415b-87a1-54217c01b1e3" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Exchange
                        </h5>
                        <hr>
                        <p>
                            Check ownership<br>
                            Check status of account assets<br>
                            Initiate transactions<br>
                            Receive reporting<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.primetrust.com/?version=latest#6a432961-cd13-415b-87a1-54217c01b1e3" class="btn float-center"  style="color: white; text-decoration: none;">Exchange Api Docs</a>
                    </a>
                </div>

                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.primetrust.com/?version=latest#460abe83-3554-4ada-84e2-9e32cca2191d" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Stablecoins
                        </h5>
                        <hr>
                        <p>
                            Create transactions<br>
                            Create compliance checks<br>
                            Funds processing<br>
                            Fee collection<br>
                            Token minting<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.primetrust.com/?version=latest#460abe83-3554-4ada-84e2-9e32cca2191d" class="btn float-center"  style="color: white; text-decoration: none;">Stablecoin Api Docs</a>
                    </a>
                </div>


                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.fundamerica.com/#c8ebe499-25b1-4f28-af0c-b795acd52472" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Escrow
                        </h5>
                        <hr>
                        <p>
                            Specialized escrow<br>
                            Funds processing<br>
                            Accounting for Securities under REg's, A, D, S and CF.<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.fundamerica.com/#c8ebe499-25b1-4f28-af0c-b795acd52472" class="btn float-center"  style="color: white; text-decoration: none;">Escrow Api Docs</a>
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.fundamerica.com/?version=latest#d3177609-916b-4ca9-bf35-ef7105f3bfbb" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Transactions
                        </h5>
                        <hr>
                        <p>
                            Hold funds and assets as a qualified trustee<br>
                            Ensure settlement of transactions<br>
                            Continuous monitoring of assets and transactions<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.fundamerica.com/?version=latest#d3177609-916b-4ca9-bf35-ef7105f3bfbb" class="btn float-center"  style="color: white; text-decoration: none;">Transactions Docs</a>
                    </a>
                </div>


                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.primetrust.com/?version=latest#bbe1cf4d-1b9a-4f11-b17f-64de85fc106e" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Accounts
                        </h5>
                        <hr>
                        <p>
                            Open new institutional and retail accounts<br>
                            Give access to domestic and international investors and entities<br>
                            Create and send reports and statements<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.primetrust.com/?version=latest#bbe1cf4d-1b9a-4f11-b17f-64de85fc106e" class="btn float-center"  style="color: white; text-decoration: none;">Accounts Api Docs</a>
                    </a>
                </div>

                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.primetrust.com/?version=latest#7f447c23-7c72-4765-bc4d-cabde0e002c1" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            AML & KYC
                        </h5>
                        <hr>
                        <p>
                            Become BSA compliant<br>
                            Works in conjunction with our API's for compliance<br>
                            Available for domestic and international customers<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.primetrust.com/?version=latest#7f447c23-7c72-4765-bc4d-cabde0e002c1" class="btn float-center"  style="color: white; text-decoration: none;">Compliance Docs</a>
                    </a>
                </div>


                <div class="col-md-3 bocsss">
                    <a target="_blank" href="https://docs.primetrust.com/?version=latest#ccc2474c-12fc-401e-8da9-b479fd72ae18" style="color: white; text-decoration: none;" class="text-center">
                        <h5>
                            Funds Processing
                        </h5>
                        <hr>
                        <p>
                            Receieve and send funds via SWIFT, ACH, check and credit card<br>
                            Cyrptocurrency and conversion<br>
                            View reports and agreements<br>
                        </p>
                        <hr>
                        <a target="_blank" href="https://docs.primetrust.com/?version=latest#ccc2474c-12fc-401e-8da9-b479fd72ae18" class="btn float-center"  style="color: white; text-decoration: none;">Processing Api Docs</a>
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>
                        What can our API Services do for you?
                    </h3>
                    <br>
                    <h4>
                        <i>"When it comes to working with our partners, I always ask one simple question; What if I succeed?"</i>
                    </h4>
                </div>
                <br>
                <br>
                <div class="col-md-12">
                    <p>
                        Kevin Lehtiniitty
                    </p>
                    <p>
                        CPO of Prime Trust
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Questions about our APIs?</h3>
                </div>
                <div class="col-md-12">
                    <span style="font-size: 20px;">Reach our</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.primetrust.com/apis" style="text-decoration: none; color: white;">
                        support desk
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <app-contect></app-contect>
        <br>
    <br>
    <br>
    </div>
    <br>
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <app-home-about-us></app-home-about-us>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>